body {
  background-color: #0c4a6e;
}

#container {
  display: grid;
  grid-template-areas: 
    "s a"
    "s b";
}

.sidebar {
  grid-area: s;
}

#attackBoard {
  grid-area: a;
}

#attackBoard {
  grid-area: b;
}

.shipBoard {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    padding: 10px;
}

.cell {
  width: 40px;
  height: 40px;
  background-color: white;
  border: 1px solid black;
}