body {
  background-color: #0c4a6e;
  margin: auto;
}

.header {
  background-color: #374151;
  height: 60px;
  color: #f8fafc;
  font-size: 35px;
  font-weight: 700;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 2px solid #b9c5bb;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}

#container {
  display: grid;
  grid-template-areas: 
    "s a"
    "s b";
  padding: 10px;
  gap: 20px;
}

.sidebar {
  grid-area: s;
  display:flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 15px;
}

#attackContainer {
  grid-area: a;
}

#defendContainer {
  grid-area: b;
}

.shipContainer {
  display: grid;
  /* grid-template-columns: 1fr 20fr;
  grid-template-rows: 1fr 20fr; */
  grid-template-areas: 
   "attack attack"
   "defend e";
}

.xindex {
  display: flex;
  width: 40px;
  height: 40px;
  background-color: #b9c5bb;
  border: 1px solid black;
  align-items: center;
  justify-content: center;
  font-size: 25px;
  font-weight: 700;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;

  
}

.index {
  display: flex;
  width: 40px;
  height: 40px;
  background-color: #b9c5bb;
  border: 1px solid black;
  align-items: center;
  justify-content: center;
  font-size: 25px;
  font-weight: 700;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;

}
#attackBoard {
  grid-area: e;
}

#defendBoard {
  grid-area: e;
}

.shipBoard {
  display: grid;
  width: 462px;
  height: 462px;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  border: 2px solid black;
}

.cell {
  width: 40px;
  height: 40px;
  background-color: #93c5fd;
  border: 1px solid black;
}

.ship {
  width: 300px;
  display:flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 5px;
  border-radius: 10px;
  background-color: #b9c5bb;
  font-size: 22px;
  font-weight: 500;
  border: 2px solid black;
  padding: 5px;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}

#cruiserError, #destroyerError, #submarineError, #battleshipError, #carrierError {
  visibility: hidden;
}

.confirm {
  border-radius: 6px;
  padding: 5px;
  background-color: #475569;
  color:#f8fafc;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}

.confirm:hover {
  background-color: #e2e8f0;
  color: #1e293b;
}

.confirm:active {
  transform: translate(0px, 3px);
}

.coordInput {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;

}